body {
    padding-bottom: 20px;
    background-color: red;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

.hipster {
    font-family: 'Lobster', cursive;
}

/*.mainJumbo {
    background-color: #497959;
    color: white;
}*/

.gameTable {
    background-color: #497959;
    table-layout: fixed;
}

.gameTable tr {
    height: 50px;
}

.gameTable td {
    color: white;
    text-align: center;
}

.hitsImage {
    height: 50px;
    width: 50px;
}